{% extends "each_exam_base.html" %}
{% block content %}
<div class="table-responsive">
    <table class="table table-hover table-bordered" id="file_export">
        <thead>
            <tr>
                <th>question text</th>
                <th>question image</th>
                <th>Option A</th>
                <th>Option B</th>
                <th>Option C</th>
                <th>Option D</th>
                <!-- <th>password</th> -->
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{question.question_text}}</td>
                <td>{{question.question_image}}</td>
                <td>{{question.option_a}}</td>
                <td>{{question.option_b}}</td>
                <td>{{question.option_c}}</td>
                <td>{{question.option_d}}</td>
                <!-- <td>{{student.user.user.password}}</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}